@keyframes animacao{
    from{
         background-color:black;
        border-radius: 50%;
        top: 0px;
        left: 0px;
    }
   to{
    background-color: blueviolet;
    top: 200px;
    left: 200px;
   }
}
.box{
    background-color: crimson;
    width: 400px;
    height: 400px;
    animation-name: animacao;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-direction: alternate-reverse;
    position: absolute;
}