

table{

font-family: Verdana, Geneva, Tahoma, sans-serif; width: 600px;
border-collapse: collapse;/*separate*/
}
th, td, caption{
padding: 10px;
}
th, caption{
text-transform: uppercase;
border-top: 2px solid rgb(0, 0, 0); 
border-bottom: 1px solid rgb(0, 240, 52);
}
th{
text-align: left;
}
caption{
font-size: 1.5em;
letter-spacing: 1.1em;
font-weight: 900;
}
tr.alternado{
background-color:rgb(232, 230, 230);

}
tr:hover{
background-color: rgb(126, 179, 21);
}
.numero{
text-align: right;
}