.top{
    
    padding: 10px;
    text-align: left;
    background-color: rgb(8, 8, 8);
    height: 15px; 
    color: rgb(255, 255, 255); 
    border-radius: px; 
}
.borda{
    margin: 0px 17px;
}
.borda:hover{
    border-style: solid;
    border-width: 2px;
    border-color: rgb(71, 71, 71);
    padding: 05px;
}
.banner{
    background-color: rgb(120, 116, 116);
    display: flex;
    justify-content: space-around;

}
.div2{
    padding: 0px;
    margin: 0px;
    width: 70%;


}
.div2 img{
    border: black 1px solid;
}
.div3{
    padding: 0px;
    margin: 0px;
    width: 25%;
}
.divpai{
    margin: 2px 0px;
    display: flex;
    justify-content: space-around;
}
.conteudo{
    background-image: linear-gradient(to bottom, rgb(165, 165, 165),rgb(255, 255, 255),rgb(164, 164, 164));
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    }
    .rodapé{
        text-align: center;
    }
    

