
*{
    margin: 0; padding: 0;
}

.titulo{
background-color: rebeccapurple;
text-transform: uppercase;
text-align: center;
padding: 30px;
color: white;
}
.conteudo{
background-image: linear-gradient(to bottom, rgb(83, 83, 83),rgb(143, 143, 143),rgb(0, 0, 0));
display: flex;
flex-direction: row;
flex-wrap: wrap;
justify-content: space-around;
align-items: center;
}
.item{
width: 20%;
height: 200px;
margin: 10px;
background: rgb(255, 255, 255);
flex-grow: 0;
flex-shrink: 1;
border-radius: 10px;
background-size: 90%;
background-repeat: no-repeat;
background-position: center;
background-color: rgb(117, 113, 185);
}


.item:hover{ 
    width: 30%; 
    height: 300px;
}
.itemA{
background-image: url(Imagem/face01.png);
}
.itemB{
background-image: url(Imagem/face02.png);
}
.itemc{
background-image: url(Imagem/face03.png);
}
.itemD{
background-image: url(Imagem/face04.png);
}